name: Android CI

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "main", "develop" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    permissions:
      contents: read
      actions: read

    steps:
    - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

    - name: set up JDK 21
      uses: actions/setup-java@3a4f6114f18e3a449fb3b7229c1fe57b1637da24 # v4.7.0
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Lint
      run: ./gradlew lintDebug

    - name: Unit Test
      run: ./gradlew testDebugUnitTest

    - name: Build Debug APK
      run: ./gradlew assembleDebug

    - name: Upload Debug APK
      uses: actions/upload-artifact@4cedc5d8001648987b7a40733618395ed7494f6f # v4.6.0
      with:
        name: debug-apk
        path: app/build/outputs/apk/debug/app-debug.apk
