name: OSV-Scanner

on:
  pull_request:
    branches:
      - main
      - develop
  push:
    branches:
      - main
      - develop
  workflow_dispatch:

permissions:
  security-events: write
  contents: read

jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: OSV-Scanner
        uses: google/osv-scanner-action/osv-scanner-action@v1.9.1
        with:
          scan-args: |-
            -r
            --skip-git
            ./
