name: OSV-Scanner

on:
  pull_request:
    branches: [ "main", "develop" ]
  merge_group:
    branches: [ "main", "develop" ]
  schedule:
    - cron: '15 23 * * 0'
  push:
    branches: [ "main", "develop" ]

permissions:
  # Require writing security events to upload SARIF file to security tab
  security-events: write
  # Read commit contents
  contents: read

jobs:
  scan-scheduled:
    if: ${{ github.event_name == 'push' || github.event_name == 'schedule' }}
    uses: "google/osv-scanner-action/.github/workflows/osv-scanner-reusable.yml@v1.9.1"
    with:
      scan-args: |-
        -r
        --skip-git
        ./
  scan-pr:
    if: ${{ github.event_name == 'pull_request' || github.event_name == 'merge_group' }}
    uses: "google/osv-scanner-action/.github/workflows/osv-scanner-reusable-pr.yml@v1.9.1"
    with:
      scan-args: |-
        -r
        --skip-git
        ./
